@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-hover: #272727;
  --cor-borda-hover: #ffffff;

  --fonte-titulo: "Krona One", Sans-serif;
  --fonte-corpo: "Montserrat", sans-serif;
  --fonte-menu: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  background: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2% 0 0 7%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-menu);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8% 7%;
  gap: 82px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-family: var(--fonte-titulo);
  font-size: 2.25rem;
}

.apresentacao__conteudo__texto {
  font-family: var(--fonte-corpo);
  font-size: 1.5rem;
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-titulo);
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao__links__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  border: 2px solid var(--cor-terciaria);
  font-size: 1.5rem;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--fonte-corpo);
  font-weight: 600;
}

.apresentacao__links__link:hover {
  background: var(--cor-hover);
  border: 2px solid var(--cor-borda-hover);
  transition: 0.2s;
}

.apresentacao__imagem {
  width: 50%;
}

i {
  color: var(--cor-terciaria);
}

.rodape {
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  padding: 24px;
  text-align: center;
  font-family: var(--fonte-menu);
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }

  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }
}
